@model Blood_Bank.Models.Donor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.donor_reg_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor_reg_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donor_mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor_mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donor_birth_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor_birth_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_donate_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_donate_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donation_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donation_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood_group.blood_group_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_group.blood_group_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.city_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.city_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.donor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
