@model IEnumerable<Blood_Bank.Models.Donor>

@{
    ViewBag.Title = "Index";
}

<h2 >
    @Html.ActionLink("Create New", "Create")
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.donor_reg_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donor_mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donor_birth_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_donate_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donation_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_group.blood_group_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.city_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.donor_reg_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donor_mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donor_birth_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_donate_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donation_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_group.blood_group_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.city_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.donor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.donor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.donor_id })
        </td>
    </tr>
}

</table>
