@model Blood_Bank.Models.patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patient_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_mbl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_mbl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_birth_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_birth_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blood_group.blood_group_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blood_group.blood_group_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.patient_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
